@import "tailwindcss";

@theme {
  --color-tvtime-100: #f2f2f2;
  --color-tvtime-200: #d9d9d9;
  --color-tvtime-300: #a6a6a6;
  --color-tvtime-400: #737373;
  --color-tvtime-500: #404040;
  --color-tvtime-600: #262626;
  --color-tvtime-700: #1a1a1a;
  --color-tvtime-800: #121212;
  --color-tvtime-900: #000000;
}
